.category-navbar {
  border-bottom: 0.5px solid #dee2e6;
}

.navbar-item.is-active {
  font-weight: bold;
  color: #485fc7 !important;
}

a.navbar-item {
  margin: 0px 0px auto;
}

.search {
  width: 300px;
  margin-right: 4px;
}

.recommendation-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 48px;

  max-height: 40vh;
  border: 1px solid grey;
}

.recommendation-element {
  display: flex;
  padding: 12px 12px;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
}

.recommendation-element:hover {
  background-color: lightgrey;
}
