#tourDes {
  margin-bottom: 120px;
}

#textArea #howPerson {
  font-size: 1.2rem;
  display: inline-block;
}

#textArea #howPersonInput {
  display: inline-block;
  width: 165px;
  height: 30px;
  margin-bottom: 10px;
}
#textArea #startDays {
  font-size: 1.2rem;
}
#textArea #startDaysInput {
  height: 30px;
  width: 110px;
}

#btnArea #btnBox {
  display: flex;
  width: 100%;
}
#btnArea #cartAddBtn {
  width: 45%;
  height: 50px;
  margin-right: 10%;
}

#btnArea #orderBtn {
  width: 45%;
  height: 50px;
}
