.card-panel {
  border-radius: 4px;
  box-shadow: inset 0 0 0 1.5px #e9ecef;
  transition: transform 0.3s;
}
.card-panel:hover {
  box-shadow: 0px 0.5px 1px 1px rgba(0, 0, 0, 0.2);
  transform: translate(0, -0.5%);
  cursor: pointer;
}
.card-panel-image {
  width: 100%;
  object-fit: cover;
}
.content figure {
  margin: 0px;
}
