<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/logo-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="order.css" />
    <script src="order.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/logo.png" width="30" height="30" />
            <span class="has-text-link">쇼핑-n팀</span>
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

          <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
            <ul id="navbar">
              <li><a href="/login">로그인</a></li>
              <li><a href="/register">회원가입</a></li>
              <li>
                <a href="#cart" aria-current="page">
                  <span class="icon">
                    <i class="fas fa-cart-shopping"></i>
                  </span>
                  <span>카트</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>


    <article  id="container">

      <div id="inner" class="flexBox">
        <!-- 예약정보 -->
        <section id="infoBox" class="box">
          <label id = "infoLabel" class="label ">예약정보</label>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">이름</label>
            </div>
            <div class="field-body">
              <div class="control">
                <input class="input" type="text" placeholder="예약자 성함을 적어주세요.">
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">이메일</label>
            </div>
            <div class="field-body">
              <div class="control">
                <input class="input" type="email" placeholder="E-mail@Email.com">
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">휴대전화</label>
            </div>
            <div class="field-body">
              <div class="control">
                <input class="input"  placeholder="-없이 적어주세요">
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">일반전화</label>
            </div>
            <div class="field-body">
              <div class="control">
                <input class="input"  placeholder="-없이 적어주세요">
              </div>
            </div>
          </div>
          
    
          <div class="field ">
            <label class="label">요청사항</label>
            <div class="control">
              <textarea  class="textarea" rows="3" placeholder="요청사항을 적어주세요."></textarea>
            </div>
          </div>
        </section>

        <!-- 결제정보 -->
        <section id="paymentBox" class="box">
          <label id="infoLabel" class="label">결제정보</label>
         
          <div class="field">
            <label class="label ">주문상품</label>
            <p id="productInfo">상품 제목 상품 제목 상품 제목 상품 제목 상품 제목 상품 제목 상품 제목 상품 제목 상품 제목</p>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal labeInfo">
              <label class="label ">상품가격</label>
            </div>
            <div class="field-body">
                <p id="productPrice" class="control price">500,000원</p>
            </div>
          </div>   

          <div class="field is-horizontal">
            <div class="field-label is-normal labeInfo">
              <label class="label ">유류할증료</label>
            </div>
            <div class="field-body">
                <p id="fuelSurcharge" class="control price">5,000원</p>
            </div>
          </div>   
       
          <div class="field">
            <label class="label title is-4">총 결제금액</label>
            <p id="productTotalPrice">505,000원</p>
          </div>

          <button id="orderBtn" class="button is-success">예약하기</button>
        </section>
      </div>
    </article>
    
    
  </body>
</html>
