<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-3팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="sell.css" />
    <script
      src="../../components/loginNavbar/loginNav.js"
      type="module"
      defer
    ></script>
    <script src="sell.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/logo-favicon.png" width="30" height="30" />
            <span class="has-text-link">쇼핑-3팀</span>
          </a>

          <!-- <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a> -->
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
            <ul id="navbar"></ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- 제품 추가 폼(Form) -->
    <section class="section">
      <div class="container">
        <div class="block account-header">
          <h1 class="subtitle is-4">제품판매</h1>
        </div>
        <div class="register-product-form-container">
          <form class="box register-product-form-box" id="registerProductForm">
            <p class="title is-5 has-text-primary">제품을 판매해 보세요</p>
            <div class="field">
              <label class="label" for="titleInput">패키지 이름</label>
              <div class="control">
                <input
                  class="input"
                  id="packageNameInput"
                  type="text"
                  placeholder="packageName"
                  autocomplete="on"
                />
              </div>
            </div>

            <div class="field">
              <label class="label" for="categorySelectBox">국가 카테고리</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select id="categorySelectBox">
                   
                  </select>
                </div>
              </div>
            </div>


            <div class="field">
              <label class="label" for="subCategorybox">서브 카테고리</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select id="subCategorybox">
                    <option value="대한민국">대한민국</option>
                  </select>
                </div>
              </div>
            </div>
            


            <div class="field">
              <label class="label" for="priceInput">가격</label>
              <div class="control">
                <input
                  class="input"
                  id="priceInput"
                  type="text"
                  placeholder="price"
                  autocomplete="on"
                />
              </div>
            </div>







            

            <div class="field">
              <label class="label" for="detailDescriptionInput"
                >간단한 설명</label
              >
              <div class="control">
                <textarea
                  class="textarea"
                  id="detailDescriptionInput"
                  rows="8"
                  placeholder="제품에 대한 상세 설명을 적어 주세요."
                  autocomplete="on"
                ></textarea>
              </div>
            </div>

            <div class="field is-fullwidth">
              <label class="label" for="imageInput">제품 사진</label>
              <div class="file has-name is-fullwidth">
                <label class="file-label">
                  <input
                    class="file-input"
                    id="imageInput"
                    type="file"
                    name="image-file"
                    accept=".png, .jpeg, .jpg"
                  />
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label"> 사진 업로드 </span>
                  </span>
                  <span class="file-name" id="fileNameSpan">
                    사진파일 (png, jpg, jpeg)
                  </span>
                </label>
              </div>
            </div>

            <div class="field">
              <label class="label" for="totalInput">총 인원 수</label>
              <div class="control">
                <input
                  class="input"
                  id="totalInput"
                  type="number"
                  placeholder="10"
                  autocomplete="on"
                />
              </div>
            </div>

            <div class="field">
              <label class="label" for="departureAt">출발일</label>
              <div class="control">
                <input
                  class="input"
                  id="departureAt"
                  type="date"                  
                />
              </div>
            </div>

            <div class="field">
              <label class="label" for="arriveAt">도착일</label>
              <div class="control">
                <input
                  class="input"
                  id="arriveAt"
                  type="date"                  
                />
              </div>
            </div>

            

            <div
              class="field is-grouped is-grouped-multiline mt-3"
              id="keywordContainer"
            ></div>

            <div class="mt-5">
              <button class="button is-primary is-fullwidth" id="submitButton">
                판매할 패키지 등록하기
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
