.div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing {
  cursor: pointer;
  border: 1px solid red;
  padding: 10px;
}

.greeting {
  cursor: pointer;
  border: 1px solid blue;
  padding: 10px;
  margin-left: 3rem;
}

.item-list {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: 0px 8px;
}

#left-list-move-icon {
  display: flex;
  position: absolute;
  align-items: center;
  height: 453px;
  left: 0px;
  z-index: 1;
}

#left-arrow:hover {
  color: lightblue;
  cursor: pointer;
  transition: all 0.5s;
}

#right-list-move-icon {
  display: flex;
  position: absolute;
  align-items: center;
  height: 453px;
  right: 0px;
  z-index: 1;
}

#right-arrow:hover {
  color: lightblue;
  cursor: pointer;
  transition: all 0.5s;
}
