<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-3팀</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="../logo-favicon.png"/>
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="cart.css" />
    <script src="cart.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="../logo.png" width="30" height="30" />
            <span class="has-text-link">쇼핑-3팀</span>
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

          <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
            <ul id="navbar">
              <li><a href="/login">로그인</a></li>
              <li><a href="/register">회원가입</a></li>
              <li>
                <a href="/cart" aria-current="page">
                  <span class="icon">
                    <i class="fas fa-cart-shopping"></i>
                  </span>
                  <span>카트</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <article  id="container">
      <section>
        <div id="inner" class="flexBox">
          <!-- 장바구니 리스트 -->
          <section id="infoBox" class="box">
            <nav id="cartBreadcrumb" class="breadcrumb" aria-label="breadcrumbs">
              <ul>
                <li>
                  <label class="checkbox">
                    <input id="allCheckbox" type="checkbox">
                  </label>
                  <a id="allCheckSelect" href="#">전체선택</a>
                </li>
                <li><a href="#">선택삭제</a></li>
              </ul>
            </nav>
            
            <!-- 추가 되는 부분 -->
            <div id="onelineCartList">

              <ul class="lineElemetns">
                <input id="selectCheckbox" class="selectCheckboxs" type="checkbox"  >
                <li class="imgBox">
                  <a href="#"><img src="https://img.freepik.com/free-photo/aerial-view-beautiful-koh-tao-island-surat-thani-thailand_335224-1066.jpg?t=st=1654161826~exp=1654162426~hmac=06c7b210e64dc7d10a20e30463c1381c0b84e9336e9b8b12dc763c28dea502a4&w=1380.jpg" alt="여행상품"></a>
                </li>
                <li class="selectProductTitle">
                  <a href="#"><p>제주도 3박4일 알찬 코스</p></a>
                </li>
                <li class="selectProductPrice">
                  <p>101,500,000원</p>
                </li>
                <li>
                  <button id="selectProductDel" class="delete"></button>
                </li>
              </ul>

              
              <ul class="lineElemetns">
                <input id="selectCheckbox" class="selectCheckboxs" type="checkbox"  >
                <li class="imgBox">
                  <a href="#"><img src="https://img.freepik.com/free-photo/aerial-view-beautiful-koh-tao-island-surat-thani-thailand_335224-1066.jpg?t=st=1654161826~exp=1654162426~hmac=06c7b210e64dc7d10a20e30463c1381c0b84e9336e9b8b12dc763c28dea502a4&w=1380.jpg" alt="여행상품"></a>
                </li>
                <li class="selectProductTitle">
                  <a href="#"><p>제주도 3박4일 알찬 코스</p></a>
                </li>
                <li class="selectProductPrice">
                  <p>101,500,000원</p>
                </li>
                <li>
                  <button id="selectProductDel" class="delete"></button>
                </li>
              </ul>

              
              
              
              
              
            </div><!-- // onelineCartList -->
            
          </section>

          <!-- 선택정보 -->
          <section id="paymentBox" class="box">
            
          </section><!-- // 선택정보 -->
        </div>
      </section>
    </article>
  </body>
</html>
